* {
            padding: 0%;
            margin: 0%;
            border: 0px;
border-radius: 5px;
                    }

        html,
        div,
        body {
            display: flex;
            flex-wrap: wrap;
            /* 内部元素允许换行 */
            flex-direction: row;
            /* 横向布局 */
            width: 100%;
            height: 100%;
            align-content: center;
            justify-content: center;


        }